.albumart {
    border-radius: 8px;
    height: 50px;
    display: flex;
}

#playeralbumart {
    margin-top: 10px;
    width: 500px;
    height: auto;
    transition: 0.05s;
    box-shadow: 0px 0px 40px var(--primary-albumart-color);
    transition: box-shadow 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    &:hover {
        filter: brightness(80%);
    }
    &:active {
        filter: brightness(60%);
    }
}

#queuealbumart {
    margin-right: 10px;
}