.albumart {
    border-radius: 20px;
}

#playeralbumart {
    margin-top: 10px;
    width: 500px;
    height: auto;
    transition: 0.05s;
    &:hover {
        filter: brightness(80%);
    }
    &:active {
        filter: brightness(60%);
    }
}