@media screen and (max-width: 768px){
    #main-container {
        width: 100%;
        height: 100%;
    }

    #player-interact-container {
        width: 80% !important;
        height: 100%;
    }

    #queue-selector-container {
        display: none;
    }

    #playeralbumart {
        margin-top: 10px;
        width: 100%;
        height: auto;
        transition: 0.05s;
        transition: box-shadow 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        &:hover {
            filter: brightness(80%);
        }
        &:active {
            filter: brightness(60%);
        }
    }
}