html {
    background-color: #0A0A0A;
    color: #FAFAFA;
}

button {
    background-color: #15181A;
    color: #FAFAFA;
    border: 1px solid #36393D;
    border-radius: 10px;
    padding-inline: 4px;
    padding-block: 0.25rem;
    &:hover {
        cursor: pointer;
    }
}

.albumart {
    border-radius: 20px;
}

#playeralbumart {
    width: 500px;
    height: auto;
}