* {
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans";
    height: 100%;
}

body {
    margin: 0;
    background-color: #121212;
    color: #FAFAFA;
    height: 100%;
}

#main-container {
    height: 100%;
    width: 40%;
    margin: 0px auto;
    justify-content: center;
    text-align: center;
    padding: 50px 30px;
    /*border-left: 1px solid grey;
    border-right: 1px solid grey;*/
    border-radius: 20px;
    background-color: #000000;
    filter: drop-shadow(0 0 15px #000000);
}

@media screen and (max-width: 768px){
    #main-container {
        width: 100%;
        height: 100%;
    }

    #player-interact-container {
        width: 80% !important;
        height: 100%;
    }
}

#player-interact-container {
    height: 100%;
    width: 500px;
    margin: 0 auto;
}

#song-information {
    text-align: left;
    margin: 1em 0 1em 0;
    padding: 0;
    align-content: center;
}

#song-title {
    font-weight: bold;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
    margin: 0;
}

#song-artist {
    color: #ffffffb3;
    margin: 0;
}

button {
    background-color: #15181A;
    color: #FAFAFA;
    border: 1px solid #36393D;
    border-radius: 10px;
    padding-inline: 4px;
    padding: 0.25rem;
    &:hover {
        cursor: pointer;
    }
}

#pause-button {
    background-color: #ffffff;
    color: #15181a;
    border: none;
    border-radius: 50%;
    padding: 1rem;
    &:hover {
        background-color: lightgray;
    }
    &:active {
        background-color: #c7c7c7;
    }
}

#skip-backwards-button, #skip-forwards-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    transition: background-color 0.1s ease-out;
    &:hover {
        background-color: #4d4d4d;
    }
    &:active {
        background-color: #5F5F5F;
    }
}

#previous-button, #next-button, #volume-button, #repeat-button {
    background: none;
    border: none;
    font-size: 1rem;
    transition: background-color 0.1s ease-out;
    &:hover {
        background-color: #4d4d4d;
    }
    &:active {
        background-color: #5f5f5f;
    }
}

#volume-button {
    font-size: 1.2rem;
    float: right;
}

#volume-display {
    font-size: 1rem;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

#repeat-button {
    font-size: 1.2rem;
    float: left;
}

#player-buton-div {
    width: 100%;
    align-items: center;
    display: flex;
}

#settings-button {
    font-size: 1.4rem;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    background: none;
    border: none;
}