.progress-container {
    width: 25%;
    background: #4D4D4D;
    border-radius: 2px;
    border: 0;
    margin: 0;
    padding: 0;
    height: 4px;
    &:hover {
        cursor: pointer;
        height: 20px;
        border-radius: 10px;
        #progress-bar {
            background-color: #148867;
            border-radius: 10px;
        }
    }
}

#progress-bar {
     width: 0%;
     background: #FFFFFF;
     border-radius: 2px;
     height: 100%;
}
