.progress-container {
    width: 100%;
    background: #4D4D4D;
    border-radius: 2px;
    border: 0;
    margin: 0 auto;
    padding: 0;
    height: 4px;
    transition: 0.2s;
    position: relative;
    &:hover {
        cursor: pointer;
        height: 20px;
        border-radius: 10px;
        #progress-bar {
            border-radius: 10px;
        }
    }
}

/*The progress bar (the one with colour that's actually moving and shit)*/
#progress-bar {
     width: 0%;
     background: #FFFFFF;
     border-radius: 2px;
     transition: box-shadow 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
     transition: width 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
     height: 100%;
     position: relative;
}

/*Sigma ::after property to make the "hitbox" of the progress bar bigger so it's actually possible to use it lol*/
.progress-container::after {
    content: "";
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 10;
}

@media screen and (max-width: 768px){
    #playeralbumart {
        width: 80%;
    }
}
