.progress-container {
    width: 100%;
    background: #4D4D4D;
    border-radius: 2px;
    border: 0;
    margin: 0 auto;
    padding: 0;
    height: 4px;
    transition: 0.2s;
    &:hover {
        cursor: pointer;
        height: 20px;
        border-radius: 10px;
        #progress-bar {
            border-radius: 10px;
        }
    }
}

#progress-bar {
     width: 0%;
     background: #FFFFFF;
     border-radius: 2px;
     transition: width 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
     height: 100%;
     box-shadow: 0 0 15px 2px rgba(255,255,255,0.5);
}

@media screen and (max-width: 768px){
    #playeralbumart {
        width: 80%;
    }
}
