#queue-selector-container {
    position: absolute; /* maybe this should be fixed instead of absolute */
    left: 0;
    top: 0;
    width: 350px;
    height: 100%;
    background: #000000;
    padding: 50px 30px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 15px #000000);
    margin-left: 5px;
    overflow: overlay;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        margin-bottom: 8px;
        border-radius: 8px;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
        width: 100%;
        user-select: none;
        &:hover {
            background: #353535;
            cursor: pointer;
        }
        &:active {
            background-color: #1D1D1D;
        }
    }
}

.active-song {
    background-color: #1D1D1D;
}

.queue-song-title {
    font-weight: bold;
}

.queue-song-artist {
    color: #ffffffb3;
}

.queue-song-play-button {
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    color: black;
}

.queue-song {
    display: flex;
    align-items: center;
    position: relative;
}

.queue-song-data {
    display: flex;
    align-items: center;
}